@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fff;
  --secondary-color: #f4f4f4;
  --black-color: #000;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end of common styles */

/* section-1 */
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  position: relative;
}

/* logo */
.logo {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: 20rem;
}

.logo img {
  width: 100%;
  object-fit: cover;
}
/* end of logo */

/* navbar */
.navbar {
  position: absolute;
  top: 3rem;
  right: 10%;
}

.navbar-link {
  font-family: 'Architects Daughter', sans-serif;
  font-size: 2rem;
  display: inline-block;
  margin: 0 3rem;
  color: var(--black-color);
  transition: transform .5s;
}

.navbar-link:hover {
  transform: scale(1.5);
}
/* end of navbar */

/* banner */
.section-1-banner {
  flex-direction: column;
}

.hive-mind {
  width: 110rem;
  position: absolute;
  left: 5rem;
}

.hive-mind img {
  width: 100%;
  object-fit: cover;
}

.section-1-banner h1{
  font-size: 5rem;
  position: absolute;
  top: 20rem;
  right: 17%;
}

.section-1-banner p {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
  width: 50rem;
  position: absolute;
  top: 30rem;
  right: 23%;
  margin: 6rem 0 4rem 0;
}

.banner-btn {
  width: 25rem;
  height: 4rem;
  background-color: #282828;
  color: var(--primary-color);
  border: none;
  border-radius: 3rem;
  position: absolute;
  top: 55rem;
  right: 30%;
  margin: 3rem 0 0 0;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: all .5s;
}

.banner-btn:hover {
  filter: brightness(110%);
  background-color: #B2B2B2;
}
/* end of banner */
/* end of section 1 */

/* section 2 */
.section-2 {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
}

.section-2 h1 {
  font-size: 7rem;
  font-family: 'Architects Daughter', sans-serif;
  color: var(--black-color);
  margin-bottom: 5rem;
}

.section-2 p {
  font-size: 2rem;
  width: 90rem;
}

.trash-kings {
  width: 60rem;
  position: absolute;
  left: 20rem;
  top: 40%;
  cursor: pointer;
  transition: transform .5s;
}
.trash-kings img {
  width: 100%;
  object-fit: cover;
}
.trash-kings:hover {
  transform: scale(1.1);
}
.hive-mind-game {
  width: 95rem;
  position: absolute;
  top: 30%;
  right: 10rem;
  cursor: pointer;
  transition: transform .5s;
}
.hive-mind-game img {
  width: 100%;
  object-fit: cover;
}
.hive-mind-game:hover {
  transform: scale(1.1);
}
/* end of section 2 */

/* section 3 */
.section-3 {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;
  margin-top: -25rem;
  background-color: var(--secondary-color);
  clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section-3-heading {
  font-size: 7rem;
  font-family: 'Architects Daughter', sans-serif;
  position: absolute;
  color: var(--black-color);
  top: 25rem;
}

.about-text {
  font-size: 2rem;
  width: 80rem;
  margin: 2rem 0 15rem 0;
  position: absolute;
  top: 35rem;
}
.team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  
}

.team-member {
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  position: relative;
  opacity: .7;
  transition: opacity .2s;
}

.team-member:hover {
  opacity: 1;
}

.team-member-img {
  width: 100%;
  border-radius: .5rem;
}

.team-member-name {
  font-size: 2.3rem;
  font-family: 'Architects Daughter', sans-serif;
  margin-top: 2rem;
}

.team-member-title {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  position: absolute;
  top:-1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform .5s;
}

.change.story-btn {
  transform: rotate(405deg);
}

.story-btn-line {
  width: 100%;
  height: .1rem;
  background-color: #fff;
}

.story {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all .5s;
}

.change.story {
  transform: scale(1);
  border-radius: 0;
}
.story-heading {
  font-size: 4rem;
  font-family: 'Architects Daughter', sans-serif;
  margin-bottom: 2rem;
}

.story-paragraph {
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: .1rem;
  text-indent: 2rem;
}
.cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cta-wrapper h3 {
  font-size: 3rem;
  font-weight: 300;
  position: absolute;
  top: -40rem;
}

.cta-btn {
  width: 50rem;
  height: 25rem;
  background-image: url(./images/meeples.jpg);
  background-size: cover;
  border: none;
  border-radius: 3rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .4);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .4);
  cursor: pointer;
  position: absolute;
  bottom: 5rem;
  right: 80rem;
  opacity: .7;
  transition: opacity .3s;
}

.cta-btn:hover {
  opacity: 1;
}

/* end of section 3 */

/* footer */
.footer {
  width: 100%;
  height: 10vh;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer-nav {
  margin-left: 25rem;

}
.footer-link {
  font-size: 3rem;
  font-family: 'Architects Daughter', sans-serif;
  margin-right: 4rem;
  color: #fff;
  text-decoration: none;
  transition: transform .5s;
}

.footer-link:hover {
  transform: scale(1);
}
.copyright {
  color: #aaa;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 300;
  text-align: center;
  margin-right: 25rem;
}
/* end of footer */

/* media queries */
@media (max-width: 1500px) {
  html {
    font-size: 55%;
  }

  .cta-btn {
    right: 60rem;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 50%;;
  }

  .cta-btn {
    right: 55rem;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 40%;
  }

  .navbar-link {
    font-weight: 700;
  }

  .section-1-banner h1 {
    font-size: 6rem;
  }

  .section-1-banner p {
    font-size: 2.5rem;
    left: 65rem;
  }

  .banner-btn {
    top: 50rem;
    left: 70rem;
  }

    .section-3 {
      height: 150vh;
    }
  .cta-btn {
    right: 60rem;
  }
}

@media (max-width: 1000px) {
  .trash-kings {
    left: 10rem
  }

  .hive-mind-game {
    right: 5rem;
  }

  .cta-btn {
    right: 50rem;
  }
}

@media (max-width: 900px) {
  .section-1-banner h1 {
    font-size: 4rem;
    right: 17rem;
  }

  .trash-kings {
    left: 5rem;
  }

  .hive-mind-game {
    right: 1rem;
  }

  .section-3 {
    height: 110vh;
  }
  .cta-btn {
    right: 40rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 35%;
  }

  .logo {
    top: 2rem;
    left: 7rem;
    width: 15%;
  }

  .navbar {
    right: 20rem;
  }
  .navbar-link{
    font-size: 2rem;
    margin: 0 2.5rem;
  }
  
  .hive-mind {
    width: 75%;
    top: 35rem;
    left: 15rem;
  }

  .section-1-banner h1 {
    left: 30rem;
    top: 30rem;
  }
  
  .section-1-banner p {
    left: 30rem;
    top: 100rem;
    text-align: center;
  }

  .banner-btn {
    left: 43rem;
    top: 130rem;
  }

  .section-2 p {
    width: 70rem;
  }

  .trash-kings {
    width: 40%;
    top: 80rem;
  }

  .hive-mind-game {
    width: 70%;
  }

  .section-3 {
    height: 200vh;
  }

  .section-3-heading {
    top: 70rem;
  }

  .section-3 p {
    top: 90rem;
  }
  
  .team-wrapper {
    top: 70rem;
    flex-direction: column;
    justify-content: center;
  }

  .team-member {
    margin: 2rem 0 2rem 0;
  }
  
  .cta-wrapper {
    bottom: 30rem;
  }

  .cta-btn {
    right: 35rem;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    position: relative;
  }

  .footer-nav {
    right: 50rem;
    position: absolute;
  }
  .footer-link {
    display: flex;
    padding: 1rem;
    justify-content: center;
    
  }

  .copyright {
    position: absolute;
    bottom: 1rem;
    left: 37rem;
  }
}

@media (max-width: 550px) {
  .navbar {
    right: 15rem;
  }
  .navbar-link {
    margin: 0 1.5rem;
  }
  .section-1-banner h1 {
    left: 20rem;
  }
  .hive-mind {
    top: 45rem;
    left: 8rem;
  }

  .section-1-banner p {
    left: 20rem;
  }

  .banner-btn {
    left: 33rem;
  }

  .section-2 {
    height: 70vh;
  }
  .section-2 p {
    width: 65rem;
    position: absolute;
    top: 20rem;
    left: 12rem;
  }

  .hive-mind-game {
    top: 70rem;
  }

  .about-wrapper {
    top: -30rem;
  }

  .about-text {
    width: 60rem;
  }

  .cta-btn {
    right: 25rem;
  }

  .footer {
    height: 45rem;
  }
  .footer-nav {
    right: 40rem;
  }

  .copyright {
    left: 27rem;
  }
}

@media (max-width: 450px) {
  
  .section-1 {
    height: 90vh;
  }
  .navbar {
    right: 13rem;
  }
  .navbar-link {
    margin: 0 1rem;
  }

  .section-1-banner h1 {
    left: 12rem;
  }

  .section-1-banner p {
    left: 12rem;
  }

  .banner-btn {
    left: 25rem;
  }

 
  .section-2 p {
    width: 50rem;
  }

  
  .cta-wrapper {
    bottom: 30rem;
  }
  .cta-wrapper h3{
    font-size: 2.5rem;
  }

  .cta-btn {
    right: 16rem;
  }

  .footer-nav {
    right: 30rem;
  }

  .copyright {
    font-size: 1.5rem;
    bottom: 2rem;
    left: 25rem;
  }
}
/* end of media queries */
